In [1]:
import pandas as pd

In [2]:
import numpy as np

In [4]:
from sklearn.linear_model import LinearRegression

In [5]:
l = LinearRegression()

In [7]:
data = pd.read_csv('GAP Prediction.csv')
data.head()

    SAT   GPA
0  1714  2.40
1  1664  2.52
2  1760  2.54
3  1685  2.74
4  1693  2.83

In [18]:
x = data.SAT.values.reshape(-1,1)
y = data.GPA.values.reshape(-1,1)

In [19]:
y.shape

(84, 1)

In [20]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 43)

In [24]:
l = l.fit(X_train, y_train)
pred = l.predict(X_test)
from sklearn.metrics import mean_absolute_error

print('mse%g'%mean_absolute_error(pred, y_test))

mse0.206039

In [27]:
import pickle 
path = 'C:/Users/aravi/Downloads/hope/hope.pkl'

with open(path, 'wb') as file:
    pickle.dump(l, file)

In [29]:
with open('hope.pkl', 'rb') as file:
    model = pickle.load(file)

In [30]:
model.predict([[1934]])

array([[3.47487441]])